# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# database
/config/database.js

# archivos
public

# The development sqlite file
database/development.sqlite
